<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h3>И на Марсе будут яблони цвести!</h3>
        <h2>Список профессий</h2>
        {% if list == 'ul' %}
            <ul>
                {% for user in sp %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        {% elif list == 'ol' %}
            <ol>
                {% for user in sp %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <h3>ОШИБКА! Неверный параметр</h3>
        {% endif %}
    </body>
</html>